@dark: #2D2D2D;
@headerbg: #1A1A1A;
@textGray: #CBCBCB;
@numberTextBg: #3C3F42;
@contentWidth: 1024px;
@font-family: 'Helvetica Neue', arial, sans-serif;

body.theater-running {
  overflow: hidden !important;
}

#ss-theater {
  background: @dark;
  display: none;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#theater-header {
  background: @headerbg;
  height: 68px;
  width: 100%;

  .theater-header-container {
    background: url('images/ss-logo.png');
    margin: 0 auto;
    width: @contentWidth;

    img {
      position: relative;
      top: 15px;
    }
  }
}

#theater-content {
  display: none;
  margin: 0 auto;
  padding-top: 60px;
  width: @contentWidth;

  .theater-slideshow-meta {
    .slideshare-title {
      color: @textGray;
      float: left;
      font-family: @font-family;
      font-size: 22px;
      font-weight: 100;
      letter-spacing: 1px;
      margin-bottom: 25px;
      width: 750px;
    }
    
    .theater-author {
      color: @textGray;
      font-family: @font-family;
      float: right;
      text-align: right;
      width: 274px;
    }
  }


  #theater-slides {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 30px 0;
      text-align: center;

      img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
      }

      .slide-number {
        background: #3C3F42;
        border-radius: 18px;
        color: #fff;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 9px;
        padding: 3px 11px;
      }
    }
  }
}
